<!doctype html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainController">
    <div>
      <div class="title boxElem">
        <h1>WEEKLY FITNESS GOAL: {{target}} MIN</h1>
      </div>

      <div class="counter boxElem">
        <div class="counterInner">
          <span class="count" ng-class="{countSuccess:metTarget()}">{{sum}}</span> min
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="day" ng-repeat="key in order">
      <div class="dayInner boxElem">
        <div class="dayCounter boxElem"><span class="dayCount" ng-class="{fadeDayCount: days[key] <= 0}">{{days[key]}}</span><span ng-hide="days[key] <= 0"> min</span></div>
        <input type="range" min="0" max="60" ng-model="days[key]" class="vertical" orient="vertical">
      </div>
      <h2>{{key}}</h2>
    </div>

  </body>
</html>