body {
  background-color: #b3d4a1;
  padding: 40px;
  font-family: avenir;
  color: white;
}

.boxElem {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.clear {
  clear:both;
}

.title {
  background-color: #a5c791;
  width: 68%;
  height: 55px;
  float: left;
  padding: 5px 0px 0px 24px;
}

.counter {
  background-color: #535f66;
  width: 25%;
  height: 60px;
  float: left;
}

.counterInner {
  padding: 15px;
  text-align: center;
}

h1 {
  font-size: 20px;
}

h2 {
  font-weight: 200;
  text-align: center;
}

.count {
  font-family: menlo;
  color: orange;
  font-size: 30px;
}

.day {
  width: 14.28%;
}

.dayInner {
  height: 350px;
}

.dayCounter {
  background-color: #a5c791;
  text-align: center;
}

.dayCount {
  font-family: menlo;
  font-size: 30px;
}

input.vertical {
  -webkit-appearance: slider-vertical; 
  writing-mode: bt-lr;
  width: 100%;
}





